.bookdetails-bg-container {
  background-color: #f8fafc;
  min-height: 100;
}
.bookdetails-container {
  padding: 30px 120px;
}
.bookitem-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 1px 2px rgba(96, 97, 112, 0.16);
  border-radius: 10px;
  padding: 30px 70px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.item-info-container {
  display: flex;
  justify-content: center;
}
.info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.bookdetail-image {
  width: 170px;
  height: 210px;
  border-radius: 5px;
}
.bookdetail-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #334155;
}
.bookdetail-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #475569;
}
.bookdetail-rating {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #475569;
}
.bookdetail-status {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #475569;
}
.hr-line {
  width: 100%;
  align-self: center;
  margin-bottom: 15px;
  margin-top: 30px;
  color: #94a3b8;
}
.about-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-bottom: 5px;
}
.about-author {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Roboto';
  color: #334155;
  padding-bottom: 10px;
}
.author-paragraph {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Roboto';
  color: #475569;
  line-height: 20px;
  padding-bottom: 4px;
}
.add-fav-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #475569;
  display: flex;
  align-items: center;
}
.fav {
  margin-left: 10px;
  color: red;
}
.no-fav {
  margin-left: 10px;
  color: #475569;
}
@media screen and (max-width: 576px) {
  .bookdetails-container {
    padding: 30px 0px;
  }
  .bookitem-container {
    background-color: #f8fafc;
    box-shadow: none;
    padding: 20px 0px;
  }
  .item-info-container {
    display: flex;
    flex-direction: column;
  }
  .bookdetail-image {
    width: 270px;
    height: 300px;
    border-radius: 10px;
    align-self: center;
  }
  .info-text-container {
    align-items: center;
    padding-left: 0px;
    padding-top: 10px;
  }
  .bookdetail-heading {
    font-size: 25px;
    text-align: center;
  }
  .hr-line {
    width: 85%;
  }
  .about-container {
    margin: 0px 20px;
  }
}
