.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.not-found-heading {
  color: #334155;
  font-size: 27px;
  font-weight: 400;
  padding: 15px;
}
.not-found-p {
  color: #475569;
  padding: 5px;
}
.not-found-p2 {
  color: #475569;
}
.not-found-btn {
  align-items: center;
  font-size: 12px;
  /* width: 124px;
  height: 34px; */
  border: none;
  background: #0284c7;
  border-radius: 10px;
  margin: 30px;
  color: #fff;
  padding: 10px 20px;
}
